@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="POST">
    <label>User</label>
    <input type="text" name="user"/>
    <label>Password</label>
    <input type="password" name="password"/>
    <input type="submit"/>
</form>